/* 全局样式 */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #F4F4F4;
}


/* 头部样式 */

header {
	background: #C3CAE6;
	color: #fff;
	padding: 0.3rem 0;
	text-align: center;
}

header nav ul {
	list-style: none;
	padding: 0;
}

header nav ul li {
	display: inline;
	margin: 0 1rem;
}

header nav ul li a {
	color: #fff;
	text-decoration: none;
}


/* 导航栏样式 */

nav {
	background-color: #DDE9F7;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}

nav ul li a {
	color: white;
	text-decoration: none;
}


/* 主体部分样式 */

main {
	padding: 20px;
}

section {
	margin-bottom: 20px;
}


/* 页脚样式 */

footer {
	background-color: #C3CAE6;
	color: white;
	text-align: center;
	padding: 10px;
}


/*下方提交框*/

* {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
}

input {
	border-bottom: 1px dotted #dcdcdc;
	border-top: none;
	border-right: none;
	border-left: none;
	padding: 5px;
	width: 280px;
	margin-bottom: 20px;
}

input:focus {
	border: 1px dotted #dcdcdc;
	outline: none;
}

input#submit {
	color: #ffffff;
	background-color: #665544;
	border: none;
	border-radius: 5px;
	width: 80px;
}

input#submit:hover {
	color: #665544;
	background-color: #efefef;
}

fieldset {
	width: 350px;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	padding: 20px;
	text-align: right;
}

legend {
	background-color: #efefef;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: left;
	text-transform: uppercase;
}